HOMEWORK 1

In [26]:
import pandas as pd

In [1]:
print("Hello Arslonbek")

Hello Arslonbek

In [6]:
data = {'First Name': ['Alice', 'Bob', 'Charlie', 'David'], 'Age': [25, 30, 35, 40], 'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']} 
df = pd.DataFrame(data)
print(df)

  First Name  Age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

1. Ushbu Jupyter Notebookda mavjud bo'lgan ma'lumotlar to'plamida ustun nomlarini o'zgartirish uchun quyidagi funksiyadan foydalanamiz. Masalan, "First Name" ustuni "first_name" ga, "Age" ustuni esa "age" ga o'zgartiriladi.

In [17]:
def alter_name(name):
    return name.strip().lower().replace(" ","_")

df = df.rename(columns = lambda x: alter_name(x))
print(df)

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago

2. Print the first 3 rows of the DataFrame

In [19]:
print(df.head(3))

  first_name  age           city
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

3. Find the mean age of the individuals

In [25]:
df_age_avg = df['age'].mean()
print(f"Mean of ages {df_age_avg}")

Mean of ages 32.5

4. Select and print only the 'Name' and 'City' columns

In [33]:
df_name = df["first_name"] # first_name ni Series qilib chaqirdim
df_city = df[['city']] # city ni dataframe qilib chaqirdim
print(df_name)
print(df_city)

0      Alice
1        Bob
2    Charlie
3      David
Name: first_name, dtype: object
            city
0       New York
1  San Francisco
2    Los Angeles
3        Chicago

5.Add a new column 'Salary' with random salary values

In [ ]:
import numpy as np # numpy library import qildim
df['Salary'] = np.random.randint(3000, 8000, size = len(df)) # random moduli ichidan randint() funksiyasi yordamida yartadim
print(df) # natijani print qildim

  first_name  age           city  Salary
0      Alice   25       New York    7215
1        Bob   30  San Francisco    6409
2    Charlie   35    Los Angeles    6890
3      David   40        Chicago    3805

6. Display summary statistics of the DataFrame

In [48]:
print(df.describe())# dataframe ning umumiy statistikasi

             age       Salary
count   4.000000     4.000000
mean   32.500000  6079.750000
std     6.454972  1552.223217
min    25.000000  3805.000000
25%    28.750000  5758.000000
50%    32.500000  6649.500000
75%    36.250000  6971.250000
max    40.000000  7215.000000

HOMEWORK 2

1. Create a DataFrame named sales_and_expenses with columns 'Month', 'Sales', and 'Expenses', representing monthly sales and expenses data. Use below table.

In [ ]:
Month = ['Jan', 'Feb','March','April'] # avval ustunlarni list shakliga keltirdim
Sales = [5000, 6000, 7500, 8000] # Sales ni list shakliga keltirdim
Expenses = [3000, 3500, 4000, 4500] # Expenses ni list shakliga keltirdim
my_dict = {"Month": Month, "Sales": Sales, "Expenses": Expenses} # my_dictni yasasim. keyga ustun nomlarini berdim. Valuesga listlarni berdim
df = pd.DataFrame(my_dict) # pd librarydan Dataframe konstruktoridan my_dict dan Dataframe yasab uni df ga tengab oldim
print(df) # result ni print qildim

   Month  Sales  Expenses
0    Jan   5000      3000
1    Feb   6000      3500
2  March   7500      4000
3  April   8000      4500

2.Calculate and display the maximum sales and expenses.

In [ ]:
print(df['Sales'].max()) # Sales ustunini Series qilib chqairib max() methodini qolladim 
print(df[['Sales']].max()) # Sales ustunini DF qilib chqairib max() methodini qo'lladim

Sales    8000
dtype: int64

3. Calculate and display the minimum sales and expenses.

In [53]:
print(f"This is Series Object: {df['Sales'].min()}")
print(f"This is DF object: {df[['Sales']].min()}")

This is Series Object: 5000
This is DF object: Sales    5000
dtype: int64

4. Calculate and display the average sales and expenses.

In [57]:
print(f"This is Avarage Sales {df["Sales"].mean()}\n"
      f"This in avarage of Expenses: {df["Expenses"].mean()}")

This is Avarage Sales 6625.0
This in avarage of Expenses: 3750.0

HOMEWORK 3

1. Create a DataFrame named expenses with columns 'Category', 'January', 'February', 'March', and 'April', representing monthly expenses for different categories. Use below table.

In [59]:
Category = ['Rent','Utilities','Groceries','Entertaiment']
January = [1200, 200, 300, 150]
February = [1300, 220, 320, 160]
March = [1400, 240, 330, 170]
April = [1500,250,350, 180]
my_dictik = {'Category': Category, 'January':January, 'February':February, 'March':March, 'April':April}
data = pd.DataFrame(my_dictik)
print(data)

       Category  January  February  March  April
0          Rent     1200      1300   1400   1500
1     Utilities      200       220    240    250
2     Groceries      300       320    330    350
3  Entertaiment      150       160    170    180

2. Calculate and display the maximum expense for each category.

In [79]:
print(50*('*'))
print(f"This is max values grouped by Category\n {data.groupby('Category').max()}") # category buyicha gyuruhlaydi va max qiymatlar return qiladi4
print(50*('*'))
print(f"This is only April max values\n {data.groupby('Category')['April'].max()}")

**************************************************
This is max values grouped by Category
               January  February  March  April
Category
Entertaiment      150       160    170    180
Groceries         300       320    330    350
Rent             1200      1300   1400   1500
Utilities         200       220    240    250
**************************************************
This is only April max values
 Category
Entertaiment     180
Groceries        350
Rent            1500
Utilities        250
Name: April, dtype: int64

3. Calculate and display the minimum expense for each category.

In [80]:
print(50*('*'))
print(f"This is min values grouped by Category\n {data.groupby('Category').min()}") # category buyicha gyuruhlaydi va max qiymatlar return qiladi4
print(50*('*'))

**************************************************
This is min values grouped by Category
               January  February  March  April
Category
Entertaiment      150       160    170    180
Groceries         300       320    330    350
Rent             1200      1300   1400   1500
Utilities         200       220    240    250
**************************************************

4. Calculate and display the average expense for each category.

In [81]:
print(50*('*'))
print(f"This is avarage values grouped by Category\n {data.groupby('Category').mean()}") # category buyicha gyuruhlaydi va max qiymatlar return qiladi4
print(50*('*'))

**************************************************
This is avarage values grouped by Category
               January  February   March   April
Category
Entertaiment    150.0     160.0   170.0   180.0
Groceries       300.0     320.0   330.0   350.0
Rent           1200.0    1300.0  1400.0  1500.0
Utilities       200.0     220.0   240.0   250.0
**************************************************

5. In this task, use .set_index method to make Category column as index.

In [85]:
# data = data.set_index("Category") # Category ustunini index sifatida belgiladim
print(data)

              January  February  March  April
Category
Rent             1200      1300   1400   1500
Utilities         200       220    240    250
Groceries         300       320    330    350
Entertaiment      150       160    170    180