In [1]:
import pandas as pd
import sqlite3

Xaridorlarning xaridlarini tahlil qilish:

In [ ]:
# # path of file
# file_path = "F:\Arslonbek\MySecondBrain\DataAnalitika\Python_homework\lesson-20\homework\chinook.db"
# # connect with file
# try:
#     with sqlite3.connect(file_path) as conn:
#         print("Malumotlar bazasiga muvaffaqiyatli ulandi")
#         # 1-jadval 
#         albums_df = pd.read_sql_query("Select * from albums", conn)
#         print("albums_df yuklandi")

#         # 2 jadval 
#         customers_df = pd.read_sql_query("Select * from customers", conn)
#         print("customers_df yuklandi")

#         # 3-jadval 
#         invoices_df = pd.read_sql_query("Select * from invoices", conn)
#         print("invoices yuklandi")

#         # 4-jadval 
#         employees_df = pd.read_sql_query("Select * from employees", conn)
#         print("employees yuklandi")

#         # 5-jadval 
#         invoice_items_df = pd.read_sql_query("Select * from invoice_items", conn)
#         print("invoice_items yuklandi")
#     print("Aloqa muvaffaqiyatli yopildi ")
# except Exception as e:
#     print(f"Xatolik yuz berdi {e}")

In [ ]:
file_path = "F:\Arslonbek\MySecondBrain\DataAnalitika\Python_homework\lesson-20\homework\chinook.db"

try:
    with sqlite3.connect(file_path) as conn:
        print("chinook.db ga muvaffaqiyatli ulandi")

        #1- jadval 
        albums_df = pd.read_sql_query("Select * from albums", conn)
        print("albums yuklandi")

        #2-jadval
        customers_df = pd.read_sql_query("Select * from customers", conn)
        print("Customers yuklandi")

        #3-jadval 
        employees_df = pd.read_sql_query("select * from employees", conn)
        print("employees yuklandi")

        #4-jadval
        invoices_df = pd.read_sql_query("select * from invoices", conn)
        print("invoice yuklandi")

        #5-jadval 
        invoice_items_df = pd.read_sql_query("select * from invoice_items", conn)
        print("Invoice_items yuklandi")

    print("Aloqa muvaffaqiyatli yopildi")
except Exception as e:
    print(f"Xatolik yuz ber: {e}")

1.1Find the total amount spent by each customer on purchases (considering invoices).
Har bir mijozning xaridlar uchun sarflagan umumiy miqdorini toping (hisob-kitoblarni hisobga olgan holda).

In [25]:
invoices_df.head()

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullev√•lsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Gr√©trystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2009-01-06 00:00:00,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11 00:00:00,69 Salem Street,Boston,MA,USA,2113,13.86

In [ ]:
# Har bir mijozning xaridlar uchun umumiy sarflagan miqdori 
invoices_df.groupby("CustomerId")["Total"].sum()

1.2 Identify the top 5 customers with the highest total purchase amounts.
Eng ko'p umumiy xarid summasiga ega bo'lgan eng yaxshi 5 ta mijozni aniqlang.

In [50]:
total_spent = invoices_df.groupby("CustomerId")["Total"].sum().nlargest(5)
print(f"the highest total purchase amounts: {total_spent}")
high_level_customers_idx = total_spent.index

the highest total purchase amounts: CustomerId
6     49.62
26    47.62
57    46.62
45    45.62
46    45.62
Name: Total, dtype: float64

1.3 Display the customer ID, name, and the total amount spent for the top 5 customers. 
Mijoz identifikatorini, nomini va eng yaxshi 5 mijoz uchun sarflangan umumiy summani ko'rsating.

In [55]:
customers_df.head()

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
1,Lu√≠s,Gon√ßalves,Embraer - Empresa Brasileira de Aeron√°utica S.A.,"Av. Brigadeiro Faria Lima, 2170",S√£o Jos√© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
2,Leonie,K√∂hler,None,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
3,Fran√ßois,Tremblay,None,1498 rue B√©langer,Montr√©al,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
4,Bj√∏rn,Hansen,None,Ullev√•lsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
5,Franti≈°ek,Wichterlov√°,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [ ]:
# find top 5 customer in invoices
total_spent = invoices_df.groupby("CustomerId")["Total"].sum().nlargest(5) 
# then create DF from top 5 total spent customers
total_spent = pd.DataFrame(total_spent)

#check total spent customers index  in customers_df 
high_level_customers = customers_df[customers_df.index.isin(high_level_customers_idx)]
#create final_data joined high_level_customers and total_spent
final_data = high_level_customers.join(total_spent)
# reset index in final_data 
final_data.reset_index(inplace = True)
final_data
# call columns whose gave in task: CustomeId, FisrtName, LastName, Total
final_data[["CustomerId", "FirstName", "LastName", "Total"]]

   CustomerId FirstName    LastName  Total
0           6    Helena        Hol√Ω  49.62
1          26   Richard  Cunningham  47.62
2          45  Ladislav      Kov√°cs  45.62
3          46      Hugh    O'Reilly  45.62
4          57      Luis       Rojas  46.62

2.Albom va individual trek xaridlari:

2.1Determine the percentage of customers who prefer to buy individual tracks instead of full albums.
To'liq albomlar o'rniga individual treklarni sotib olishni afzal ko'rgan mijozlar foizini aniqlang

In [100]:
albums_df.head(2)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2

In [ ]:
invoice_items_df.head(2)

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1

In [107]:
customers_df.reset_index(inplace = True) 
customers_df.head(2)

,index,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,0,1,Lu√≠s,Gon√ßalves,Embraer - Empresa Brasileira de Aeron√°utica S.A.,"Av. Brigadeiro Faria Lima, 2170",S√£o Jos√© dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,1,2,Leonie,K√∂hler,None,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5

In [105]:
invoices_df.head(1)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Stra√üe 34,Stuttgart,None,Germany,70174,1.98

In [120]:
try:
    with sqlite3.connect(file_path) as conn:
        print("Db ga muvaffaqiyatli ulandi ")
        query = """
        SELECT
        C.CustomerId,
        C.FirstName,
        II.TrackId,
        II.Quantity
        FROM
        invoices AS I
        JOIN
        customers AS C ON I.CustomerId = C.CustomerId  
        JOIN
        invoice_items AS II ON I.InvoiceId = II.InvoiceId
        """
        track_sales_data = pd.read_sql_query(query, conn)
        print("Muvaffaqiyatli join qilindi")
    print("Aloqa yopildi")
except Exception as e:
    print(f"Muammo chiqdi: {e}")

Db ga muvaffaqiyatli ulandi
Muvaffaqiyatli join qilindi
Aloqa yopildi

In [121]:
track_sales_data

      CustomerId FirstName  TrackId  Quantity
0              1      Lu√≠s     3247         1
1              1      Lu√≠s     3248         1
2              1      Lu√≠s      447         1
3              1      Lu√≠s      449         1
4              1      Lu√≠s      451         1
...          ...       ...      ...       ...
2235          59      Puja     2340         1
2236          59      Puja     2346         1
2237          59      Puja     2352         1
2238          59      Puja     2358         1
2239          59      Puja     2364         1

[2240 rows x 4 columns]

In [119]:
track_sales_data["CustomerId"].count()

2240

In [ ]:
 #CHAT GPT ISHLAB BERDI 

file_path = r"F:\Arslonbek\MySecondBrain\DataAnalitika\Python_homework\lesson-20\homework\chinook.db"

try:
    with sqlite3.connect(file_path) as conn:
        
        # 1. Barcha xarid detallarini (InvoiceItems) albom ma'lumotlari (Albums) bilan birlashtirish
        # Bu so'rov har bir sotib olingan trekka tegishli Albomni aniqlaydi.
        track_data_query = """
        SELECT 
            II.InvoiceId,
            I.CustomerId,
            II.TrackId,
            T.AlbumId
        FROM 
            invoice_items AS II
        JOIN 
            invoices AS I ON II.InvoiceId = I.InvoiceId
        JOIN 
            tracks AS T ON II.TrackId = T.TrackId;
        """
        sales_df = pd.read_sql_query(track_data_query, conn)
        
        # 2. Har bir albomdagi treklar sonini hisoblash
        album_track_counts = sales_df.groupby('AlbumId')['TrackId'].nunique().rename('AlbumTrackCount')
        
        # 3. Har bir buyurtmada sotib olingan treklar sonini hisoblash
        invoice_item_counts = sales_df.groupby(['InvoiceId', 'AlbumId'])['TrackId'].count().rename('PurchasedTrackCount')
        
        # 4. Albom treklar sonini sotib olingan treklar soni bilan solishtirish
        comparison_df = pd.merge(invoice_item_counts.reset_index(), 
                                 album_track_counts.reset_index(), 
                                 on='AlbumId', 
                                 how='left')
        
        # 5. Har bir InvoiceId uchun xarid turi tasnifi
        
        # Agar bitta tranzaksiyada butun albomdagi treklar sotib olingan bo'lsa
        comparison_df['IsAlbum'] = (comparison_df['PurchasedTrackCount'] == comparison_df['AlbumTrackCount'])

        # 6. Mijozlar darajasida tahlil qilish
        
        # Har bir xaridning CustomerId sini qo'shish
        invoice_to_customer = sales_df[['InvoiceId', 'CustomerId']].drop_duplicates()
        final_sales_analysis = pd.merge(comparison_df, invoice_to_customer, on='InvoiceId', how='left')

        
        # Mijozning xarid turini aniqlash:
        # Har bir mijoz uchun IsAlbum ustunidagi barcha TRUE/FALSE qiymatlarini ko'rish
        customer_purchase_types = final_sales_analysis.groupby('CustomerId')['IsAlbum'].agg(['all', 'any'])
        
        # 7. Mijozlarni toifalash
        
        # Faqat Albom sotib olganlar: (all=True) va (any=True)
        album_only_customers = customer_purchase_types[(customer_purchase_types['all'] == True)].shape[0]

        # Faqat Trek sotib olganlar: (all=False) va (any=False)
        track_only_customers = customer_purchase_types[(customer_purchase_types['all'] == False) & (customer_purchase_types['any'] == False)].shape[0]

        # Aralash sotib olganlar (qolgan barchasi)
        mixed_customers = customer_purchase_types.shape[0] - album_only_customers - track_only_customers
        
        # 8. Yakuniy Foizni Hisoblash
        total_customers = sales_df['CustomerId'].nunique()
        
        percentage_track_only = (track_only_customers / total_customers) * 100

        
        print("\n*** Natija ***")
        print(f"Barcha unikal mijozlar soni: {total_customers}")
        print(f"1. Faqat Albom sotib olgan mijozlar: {album_only_customers}")
        print(f"2. Faqat Individual Trek sotib olgan mijozlar: {track_only_customers}")
        print(f"3. Aralash sotib olgan mijozlar: {mixed_customers}")
        print("---------------------------------------------------------")
        print(f" Faqat individual treklarni afzal ko'rgan mijozlar foizi: {percentage_track_only:.2f}%")
        
except Exception as e:
    
    print(f"Muammo chiqdi: {e}")

*** Natija ***
Barcha unikal mijozlar soni: 59
1. Faqat Albom sotib olgan mijozlar: 0
2. Faqat Individual Trek sotib olgan mijozlar: 35
3. Aralash sotib olgan mijozlar: 24
---------------------------------------------------------
üíø Faqat individual treklarni afzal ko'rgan mijozlar foizi: 59.32%

In [ ]:
most_popular_tracks = track_sales_data["TrackId"].value_counts().head(10) # Eng mashxur 10 ta track 
tracks_by_customer = track_sales_data.groupby('CustomerId')['TrackId'].count() 
print(tracks_by_customer.head())

CustomerId
1    38
2    38
3    38
4    38
5    38
Name: TrackId, dtype: int64

In [ ]:
try:
    with sqlite3.connect(file_path) as conn:
        
        # 1. Barcha xarid detallarini (InvoiceItems) albom ma'lumotlari (Albums) bilan birlashtirish
        # Bu so'rov har bir sotib olingan trekka tegishli Albomni aniqlaydi.
        track_data_query = """
        SELECT 
            II.InvoiceId,
            I.CustomerId,
            II.TrackId,
            T.AlbumId
        FROM 
            invoice_items AS II
        JOIN 
            invoices AS I ON II.InvoiceId = I.InvoiceId
        JOIN 
            tracks AS T ON II.TrackId = T.TrackId;
        """
        sales_df = pd.read_sql_query(track_data_query, conn)
        
        # 2. Har bir albomdagi treklar sonini hisoblash
        album_track_counts = sales_df.groupby('AlbumId')['TrackId'].nunique().rename('AlbumTrackCount')
        
        # 3. Har bir buyurtmada sotib olingan treklar sonini hisoblash
        invoice_item_counts = sales_df.groupby(['InvoiceId', 'AlbumId'])['TrackId'].count().rename('PurchasedTrackCount')
        
        # 4. Albom treklar sonini sotib olingan treklar soni bilan solishtirish
        comparison_df = pd.merge(invoice_item_counts.reset_index(), 
                                 album_track_counts.reset_index(), 
                                 on='AlbumId', 
                                 how='left')
        
        # 5. Har bir InvoiceId uchun xarid turi tasnifi
        
        # Agar bitta tranzaksiyada butun albomdagi treklar sotib olingan bo'lsa
        comparison_df['IsAlbum'] = (comparison_df['PurchasedTrackCount'] == comparison_df['AlbumTrackCount'])

        # 6. Mijozlar darajasida tahlil qilish
        
        # Har bir xaridning CustomerId sini qo'shish
        invoice_to_customer = sales_df[['InvoiceId', 'CustomerId']].drop_duplicates()
        final_sales_analysis = pd.merge(comparison_df, invoice_to_customer, on='InvoiceId', how='left')

        
        # Mijozning xarid turini aniqlash:
        # Har bir mijoz uchun IsAlbum ustunidagi barcha TRUE/FALSE qiymatlarini ko'rish
        customer_purchase_types = final_sales_analysis.groupby('CustomerId')['IsAlbum'].agg(['all', 'any'])
        
        # 7. Mijozlarni toifalash
        
        # Faqat Albom sotib olganlar: (all=True) va (any=True)
        album_only_customers = customer_purchase_types[(customer_purchase_types['all'] == True)].shape[0]

        # Faqat Trek sotib olganlar: (all=False) va (any=False)
        track_only_customers = customer_purchase_types[(customer_purchase_types['all'] == False) & (customer_purchase_types['any'] == False)].shape[0]

        # Aralash sotib olganlar (qolgan barchasi)
        mixed_customers = customer_purchase_types.shape[0] - album_only_customers - track_only_customers
        
        # 8. Yakuniy Foizni Hisoblash
        total_customers = sales_df['CustomerId'].nunique()
        
        percentage_track_only = (track_only_customers / total_customers) * 100

        
        print("\n*** Natija ***")
        print(f"Barcha unikal mijozlar soni: {total_customers}")
        print(f"1. Faqat Albom sotib olgan mijozlar: {album_only_customers}")
        print(f"2. Faqat Individual Trek sotib olgan mijozlar: {track_only_customers}")
        print(f"3. Aralash sotib olgan mijozlar: {mixed_customers}")
        print(f" Faqat individual treklarni afzal ko'rgan mijozlar foizi: {percentage_track_only:.2f}%")
        
except Exception as e:
    print(f"Muammo chiqdi: {e}")

*** Natija ***
Barcha unikal mijozlar soni: 59
1. Faqat Albom sotib olgan mijozlar: 0
2. Faqat Individual Trek sotib olgan mijozlar: 35
3. Aralash sotib olgan mijozlar: 24
---------------------------------------------------------
 Faqat individual treklarni afzal ko'rgan mijozlar foizi: 59.32%